* {
    font-family: 'Lobster', cursive;
}

html {
    font-size: 62.5%;
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    background: linear-gradient(to bottom, #F4ABDE, #F1BFE2);
    width: 99vw;
    scrollbar-width : none;
}

    /********************************* INDEX **********************************/
    /* HEADER Y FOOTER*/
.nav {
    width: 100%;
    justify-content: center;
    margin: auto;
    background-color: #F4ABDE;
    border-bottom: 0.2rem solid black;
}
.nav-fixed {
    position: fixed;
    top: 0;
}
.nav-link {
    color: black;
    font-size: 3.5rem;
    font-weight: bold;
    margin: 2rem 4rem;
    margin: center;
    padding: 1rem;
    justify-content: center;
}
.nav-link:hover , .nav-link:focus {
    color: white;
}
.nav-link:visited {
    color: none;
}

footer {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 0;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin: 1rem;
}
h3 {
    font-size: 2rem;
}

#nav {
    display: none;
}
.nav-item-img {
    position: fixed;
    top:1rem;
    right: 5rem;
    background-color: #ffffff4b;
    padding: 1.5rem;
    border-radius: 90%;
    margin: auto;
    margin-top: 2rem;
    z-index: 2000;
}
.nav-item-img:hover {
    cursor: pointer;
}
.nav-img {
    width: 4rem;
}

@media (min-width:768px) and (max-width:1024px) {
    #verCarrito {
        width: 50vw !important;
    }
    .nav-link {
        font-size: 2.5rem;
    }
    .nav-img {
        width: 3rem;
    }
}

@media (min-width:300px) and (max-width:768px) {
    #verCarrito {
        width: 100vw !important;
    }
    header {
        display: none;
    }
    #nav {
        display: grid;
        width: 100vw;
        height: 5rem;
        text-align: center;
    }
    .collapse-link {
        font-size: 2rem;
        color: white;
    }
    .collapse-link:hover {
        color: #F4ABDE;
    }
    h1 {
        font-size: 3rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    .nav-img {
        width: 2rem;
    }
    .nav-item-img {
        top: 0rem;
        right: 2rem;
    }
}
.collapse {
    z-index: 999;
}

/* BIENVENIDA */

#bienvenida {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}
#bienvenidaText {
    font-size: 4rem;
    color: black;
    font-weight: bold;
    margin-top: 5rem;
    text-align: center;
}
.inputNombre {
    border: none;
    width: 15rem;
    max-width: 20rem;
    background-color: transparent;
    border-bottom: 0.2rem solid black;
}
.inputNombre:focus{
    outline: none;
}


/* IMAGEN */
.img-central {
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    z-index: 900;
}

    /********************************* POSTRES **********************************/


/* *********TIENDA********* */


.tienda {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.h3-tienda-text{
    font-size: 4rem;
    color: white;
    margin: auto;
    margin-top: 4rem;
    justify-content: center;
}

h4, h5 {
    text-align: center;
    font-weight: bold;
    font-size: 1.7rem;
    margin-top: 1rem;
    padding: 0.5rem;
}

.postres {
    margin: 4rem;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.329);
    border-radius: 2rem;
}
.producto {
    border: solid 0.2rem black;
    border-radius: 2rem;
    width: 40rem;
}

.button-postres {
    display: flex;
    background-color: black;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid white;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 2rem;
    transition: all 800ms;
}

.button-postres:hover {
    background-color: #F1BFE2;
    color: black;
    border: 2px solid black;
}

.modal {
    display: grid;
}

/* VER CARRITO */

#verCarrito {
    display: none;
    top: 0;
    right: 0;
    position: fixed;
    height: 100vh;
    width: 35vw;
    background-color: rgba(0, 0, 0, 0.925);
    z-index: 1000;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    z-index: 2100;
}

#cerrarCarrito {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 3rem;
}

#verCarrito div h5 {
    font-size: 2.5rem;
}
#verCarrito div h6 {
    font-size: 2rem;
}

#listaCarrito {
    height: 50vh;
    overflow-y: scroll;
}
#listaCarrito::-webkit-scrollbar {
    width:1rem;
    color: black;
    height: 0,3rem;
}

#listaCarrito::-webkit-scrollbar-thumb {
    background-color: #00000094;
    border-radius: 20px;
    border: 1px solid #f1f2f3;
    height: 0,3rem;
}

#pagar, #borrar {
    background-color: #F4ABDE;
    color:  black;
    width: 20rem;
    margin: auto;
    border-radius: 2rem;
    padding: 0.5rem;
    text-align: center;
    font-style: bold;
}
#pagar:hover, #borrar:hover {
    background-color: transparent;
    color: white;
    transition: all 1s;
}

#cantidadCarrito {
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.769);
    color: white;
    text-align: center;
    font-size: 2rem;
}


.cartItem {
    display: flex;
    background-color: #cf87ba;
    border-radius: 10px;
    margin: 1rem;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 3px 3px #11111134;
    color: black;
}

.itemDescription {
    display: flex;
    width: 100%;
    margin: 0 1rem;
    justify-content: space-between;
    align-items: center;
    font-size: 1.7rem;
    font-style: bold;
}

.itemDescription h4 {
    font-size: 1.7rem;
    margin: auto;
}

.cartItem img {
    width: 10rem;
    justify-content: center;
    border-start-start-radius: 10px;
}



    /*SWEET ALERT */
.swal2-styled.swal2-confirm {
    font-size: 1.5rem !important;
    background-color: transparent !important;
    color: white;
    border: 1px solid white !important;
} 
.swal2-styled.swal2-confirm:hover {
    background-color: #F4ABDE !important;
    color: black;
    transition: all 1s;
}

.toastify {
    width: auto;
    font-size: 1.3rem;
    text-align: center;
}

